window {
    background: #FFFFFF;
    color: #161616;
}
entry {
    color: #101010;
}
label.bold, label.author {
    font-weight: bold;
}
label.time {
    color: #828282;
}
button.add {
    background: #56486d;
}
button:not(.add), button:not(.icon) {
    background: #a8a8a8;
    color: #161616;
}
button.icon, button.icon:active {
    background: none;
    box-shadow: none;
    border: none;
    outline: none;
}
